ul a {
    text-decoration: none;
}

.navigation-desktop {
    width: 100%;
}

.menu-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 90%;
}

.menu-desktop li {
    color: white;
    opacity: 0.7;
    font-size: 1.4rem;
}

.menu-desktop li:hover {
    opacity: 1;
}

.hero-section {
    height: 70vh;
}

section {
    margin-block-end: 120px;
}

.category-images__container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 20px;
}

.product-section,
.accessories-container {
    display: flex;
    justify-content: space-between;
}

.product-section figure {
    width: 420px;
}

.product-description {
    width: 50%;
}

.vitaly-image {
    width: 780px;
}

.post-gallery,
.footer-content {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.footer-content {
    font-size: 1.3rem;
}

.footer-content > div {
    width: 310px;
}

/* Footer section */

@media (min-width: 1024px) {
    .block {
        display: none;
    }
}

@media (min-width: 1450px) {
    .logo-icon {
        width: 250px;
    }

    h3,
    .menu-desktop li,
    .learn-more li {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 3rem;
    }

    p {
        font-size: 2.2rem;
    }

    .learn-more li {
        line-height: 4rem;
    }

    .social-icon {
        width: 34px;
    }

    .product-section figure {
        width: 580px;
    }

    button, #subscribe {
        font-size: 1.5rem;
    }

    button {
        width: 280px;
    }

    .buttons-container {
        width: 280px;
    }

    .buttons-container button {
        width: 120px;
    }

    .add-button {
        width: 60%;
    }

    .product-description a {
        font-size: 1.8rem;
    }

    .vitaly-image {
        width: 920px;
    }

    .post-image {
        width: 700px;
    }
}