html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
}

body,
figure {
    margin: 0;
}

img {
    width: 100%;
}

p {
    font-size: 1.3rem;
}

.header-content,
button {
    background-color: #000000;
}

/* Header Section */
.logo-icon {
    width: 75px;
}

.search-icon {
    width: 25px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 10px;
}